.bg{   
     background-image: url(https://wallpaperbat.com/img/110375-dark-forest-wallpaper-high-resolution-background-1-hd-wallpaper.jpg);
}
p{
    color :rgb(255, 255, 255);
    font-family: cursive;}
#image{
    border-radius: 20%;   
    display: block;
    width: 375px; 
}
.grid-wapper{
    display: grid;
    grid-row: auto;
    gap: 20%;
    grid-column: auto;
    justify-content: center;
}
.grid1{
    grid-column: 1;
    grid-row: 1;
}
.grid2{
    grid-column: 2;
    grid-row: 1;
}
.grid3{
    grid-column: 3;
    grid-row:1;
}
.retro{
    margin-top:-27.6rem;
    margin-left:10rem;
}
.creepy{
    float:right
}