.bg{   
    background: rgb(69,80,158);
    background: linear-gradient(90deg, rgba(69,80,158,1) 0%, rgba(54,75,118,1) 13%, rgba(44,72,93,1) 28%, rgba(17,64,23,1) 100%);

}
p{
    color :rgba(255, 255, 255, 0.945);
    font-family: cursive;
    font-size: 7em;
}

#image{
    border-radius: 20%;   
    display: block;
}
.grid-wapper{
    display: grid;
    grid-row: auto;
    gap: 20%;
    grid-column: auto;
    justify-content: center;
}
.grid3{
    grid-column: 1;
    grid-row: 1;
    width: 55rem;
}
.grid2{
    grid-column: 2;
    grid-row: 1;
    width: 32rem;
}
.grid1{
    grid-column: 3;
    grid-row: 1;
    width: 55rem;

}
