.bg{   
     background-color: rgb(94, 9, 9);
}
.image{
    width: 35%; 
    margin-left: auto}
#jr{
    display: block;
  width: 35%;
  margin: auto;
}
#ji{
    display: block;
    margin-top: -815px;
    position: absolute; left:1300px
}
.p {
    color :rgb(255, 255, 255)
}
.cp{
    position:absolute; left:800px
}