.bg{   
     background-color: rgb(94, 9, 9);
}
.image{
    width: 35%; 
    margin-left: auto}
#jr{
    border: radius 20%;
    display: block;
  width: 35%;
  margin: auto;
}
#ji{
    display: block;
}
.p {
    color :rgb(255, 255, 255)
}
.cp{
    width: 35%;
    display: block;
    background-color: rgba(92, 75, 75, 0.904);
    
}
.jr1{
    background-color: rgb(92, 81, 66);
    border-radius: 20%;
}
.ji1{
    display: block;
    background-color: rgba(34, 83, 56, 0.904);
    margin-bottom: 200px;
}
