.color{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,64,69,1) 68%, rgba(112,94,121,1) 100%, rgba(0,212,255,1) 100%);
}
.bgimg{
    background-image: url(https://wallpaperbat.com/img/110375-dark-forest-wallpaper-high-resolution-background-1-hd-wallpaper.jpg);
}
.title{
    font-family: fantasy;
    font-size: 80px;
    color: rgb(221, 184, 127);
    position: relative;
    left: 15%;
}
.grid-wapper{
    display: grid;
    grid-row: auto;
    gap: 5%;
    grid-column: auto;
    justify-content: center;
}
.grid1{
    grid-column: 1;
    grid-row: 1;
}
.grid2{
    grid-column: 1;
    grid-row: 2;
}
.grid3{
    grid-column: 1;
    grid-row: 3;
}
.grid4{
    grid-column: 2;
    grid-row: 1;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
}
.grid5{
    grid-column: 2;
    grid-row: 2;
    width: 500px;
}
.grid6{
    grid-column: 2;
    grid-row: 3;
    width: 500px;
}


p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 224, 171);
    font-size: 25px;
}