.color{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,64,69,1) 68%, rgba(112,94,121,1) 100%, rgba(0,212,255,1) 100%);
}

h1{
    font-family: fantasy;
    font-size: 80px;
    color: rgb(221, 184, 127);
    text-align: center;
}

h2{
    font-family: fantasy;
    font-size: 40px;
    color: #6a3fa3;
}

h3{
  font-family: fantasy;
  font-size: 40px;
  color: #6a3fa3;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 224, 171);
    font-size: 25px;
}

a{
    color: rgb(224, 224, 171);
}

img{
  width: 100%;
}

nav {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
nav a{
   font-size: 30px;
   font-family: fantasy;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Contient les Slideshows */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous bouttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positione "next button" à la droite */
.next {
  right: 0;
  
}

/* Ajoute un fond gris sur le hover de la souris */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

